.drawer-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  border-radius: rem(20);
}

.content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  border-radius: rem(20);
  margin: rem(5) rem(10);
}

.app-tab-change {
  border-radius: rem(100);
  padding: 2px 7px;
}

.app-tab-list {
  gap: rem(8);
}
