.drawer-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  border-radius: rem(20);
}

.content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  border-radius: rem(20);
  margin: rem(5) rem(10);
}

.app-tab-change {
  border-radius: rem(100);
  padding: rem(8) rem(12);
  border-color: var(--mantine-color-gray-2);
  &[aria-selected='true'] {
    background-color: var(--mantine-color-gray-2);
  }
}

.app-tab-list {
  gap: rem(8);
  border: none;
  flex-wrap: nowrap;
}

.app-tab-root {
  border: none;
  border-color: #fff;
  &[data-variant='outline'] {
    border: 0px solid;
  }
}
