.date-range {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 333;
  opacity: 0;
  inset: 0 0 0 0;
}

.text-input-wrapper {
  padding: rem(14) rem(2);
  border-radius: rem(12);
  width: 100%;
}

.text-input-input {
  padding: rem(14) rem(5);
  background-color: var(--mantine-color-gray-1);
  min-height: 45px;
  border-radius: rem(12);
  &[data-app-active='true'] {
    background-color: transparent;
  }
}

.text-input-root {
  width: 100%;
}
